In [325]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser

In [329]:
url = 'https://mars.nasa.gov/news/'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
browser.find_by_xpath('//div[@class="content_title"][1]').click()

url=browser.url
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')

results=soup.find('h1','article_title')
news_title = results.text.strip()
results = soup.find_all('p')
news_lede=results[1].text[1:]
news_lede

"The same winds that blanket Mars with dust can also blow that dust away. Catastrophic dust storms have the potential to end a mission, as with NASA's Opportunity rover. But far more often, passing winds cleared off the rover's solar panels and gave it an energy boost. Those dust clearings allowed Opportunity and its sister rover, Spirit, to survive for years beyond their 90-day expiration dates."

In [47]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
browser.close()
soup = BeautifulSoup(html, 'html.parser')
img = soup.find('article', class_='carousel_item')['style']
img

"background-image: url('/spaceimages/images/wallpaper/PIA16711-1920x1200.jpg');"

In [58]:
featured_image_url = 'https://www.jpl.nasa.gov' + img[23:75]

In [59]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16711-1920x1200.jpg'

In [60]:
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')

In [84]:
results = soup.find('p',class_='js-tweet-text')
mars_weather = results.text

In [369]:
res = requests.get("https://space-facts.com/mars/")
soup = BeautifulSoup(res.content,'html')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

In [370]:
df = df[0]

In [372]:
df.rename(index=str, columns={0: '', 1: ""})

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [356]:
facts_table_html = df.to_html()
facts_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [357]:
facts_table_html = BeautifulSoup(facts_table_html, 'html.parser')

In [358]:
facts_table_html

<table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>0</th>
<th>1</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>Equatorial Diameter:</td>
<td>6,792 km</td>
</tr>
<tr>
<th>1</th>
<td>Polar Diameter:</td>
<td>6,752 km</td>
</tr>
<tr>
<th>2</th>
<td>Mass:</td>
<td>6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr>
<th>3</th>
<td>Moons:</td>
<td>2 (Phobos &amp; Deimos)</td>
</tr>
<tr>
<th>4</th>
<td>Orbit Distance:</td>
<td>227,943,824 km (1.52 AU)</td>
</tr>
<tr>
<th>5</th>
<td>Orbit Period:</td>
<td>687 days (1.9 years)</td>
</tr>
<tr>
<th>6</th>
<td>Surface Temperature:</td>
<td>-153 to 20 째C</td>
</tr>
<tr>
<th>7</th>
<td>First Record:</td>
<td>2nd millennium BC</td>
</tr>
<tr>
<th>8</th>
<td>Recorded By:</td>
<td>Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [342]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
titles = soup.find_all('h3')

In [212]:
pages=[]
items=soup.find_all('div',class_='item')
[pages.append(item.find('a')['href']) for item in items]  
    
pages

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [215]:
titles=[title.text for title in titles]
img_urls=[]

In [216]:
for page in pages:
    url = 'https://astrogeology.usgs.gov'+page
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url = soup.find('a',target='_blank')['href']
    img_urls.append(img_url)

In [217]:
img_urls

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [220]:
hemisphere_image_urls = []
entry={}
for i in range(len(img_urls)):
    entry['title']=titles[i]
    entry['img_url']=img_urls[i]
    hemisphere_image_urls.append(entry)
    entry={}

In [221]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]